import { observable, computed, action, makeObservable } from 'mobx';
import StoreBase from './StoreBase';

// --------------------------------------------------------------
// Constants
// --------------------------------------------------------------

// --------------------------------------------------------------
// Store
// --------------------------------------------------------------

export default class <% name %> extends StoreBase {

    constructor(props) {
        super(props);

        makeObservable(this, {
        });
    }

    // --------------------------------------------------------------
    // Observables
    // --------------------------------------------------------------

    // --------------------------------------------------------------
    // Actions
    // --------------------------------------------------------------

    // --------------------------------------------------------------
    // Computed getters
    // --------------------------------------------------------------

}
