// --------------------------------------------------------------
// Libraries
// --------------------------------------------------------------

import React from 'react';
import PropTypes from 'prop-types';

// --------------------------------------------------------------
// Styles
// --------------------------------------------------------------

import styles from './styles/<% name %>.module.scss';

// --------------------------------------------------------------
// Constants
// --------------------------------------------------------------

// --------------------------------------------------------------
// Components
// --------------------------------------------------------------

const <% name %> = ({ children }) => {
    return (
        <div className={ styles.<% cssClass %> }>
            { children }
        </div>
    );
};

<% name %>.propTypes = {
    children: PropTypes.node
};

<% name %>.defaultProps = {
};

export default <% name %>;
